<div class="ci">
  {% if product.available %}
  {% for col in product.collections %}
  {% if col.handle == 'new' %}
  <div class="new icn">{{ 'products.general.new' | t }}</div>
  {% endif %}
  {% endfor %}

  {% if product.price < product.compare_at_price %}
  <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
  {% endif %}

  {% else %}
  <div class="so icn">{{ 'products.general.sold' | t }}</div>
  {% endif %}

  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <div class="reveal">
      <img src="{{ product.featured_image.src | product_img_url: '420x630', crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" />
      {% if settings.image-flip and product.images.size > 1 %}
      <div class="hidden">
        <img src="{{ product.images[1] | product_img_url: '420x630', crop: 'center' }}" alt="{{ product.images[1].alt | escape }}" />
        {% include 'collection-product-details' %}
      </div>
      {% endif %}
    </div>
  </a>
</div>

{% include 'collection-product-details' %}

<div class="product-info">
  {% if settings.quickview %}
  <a class="fancybox.ajax product-modal" href="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</a>
  {% endif %}
</div>
